Cauê Oliveira <cauemateus@hotmail.com>
Kairon Velozo <kairon333@gmail.com>
Marcos Cabeceira <cabeceiramarcos@gmail.com>
Marcos Gabriel Tavares <marcosgabriel.ro@hotmail.com>
Marcos Vinicius Lima <marcoslimaraimundo@gmail.com>
Thiago Pereira <thiagorpereira7@gmail.com>
Victor Gomide <victoragomide@gmail.com>
Vinicius Porto <vinicius.alves.porto@gmail.com>
William Vieira <william.t1997@gmail.com>