.container{
}
.borda{
    border: 1px solid black;
}

.cabecalho{
    color: #2699FB;
    display: flex;
    text-align: left;
    
    margin: 0px 20%;
}
.cabecalho img{
    width: 30px;
    margin: 10px 0%;
}

.instrucao{
    color: #08589B;
    margin: 0px 20%;
}

.tela{
    text-align: center;
    height: 300px;
    border-radius: 10px;
    margin: 10px 20%;
}
.tela p{
    margin-top: 100px;
}


.gravar{
    color: white;
    font-size: 20px;
    width: 200px;
    background: linear-gradient( to right, rgb(2, 91, 206),rgb(63, 132, 243));
    display: flex;
    justify-content: right;
    text-align: center;
    border-radius: 50px;
    margin-top: 75px;
    margin-left: 45%;
    border: 3px solid rgb(0, 100, 114);
}

.gravar img{
    width: 50px;
    margin-left: 10px;
    margin-right: 20px;
}

.erro{
    color: #2699FB;
    font-weight: bold;
    font-size: 17px;
    width: 350px;
    height: 50px;
   margin-left: 41%;
   margin-top: -0px;
   margin-bottom: 70px;
   background-color: transparent;
}
