.header {
  display: flex;
  justify-content: center;
  background: #08589B;
}

.header > p {
  font-size: 18px;
  color: white;
}

.contracts-title-container {
  display: flex;
  margin-left: 15px;
}

.contracts-title-container > h3 {
  font-size: 22px;
}

p {
  font-size: 18px;
}

.contract {
  margin: 15px;
  padding: 10px 15px;
  background: rgb(140, 201, 253);
  margin-bottom: 15px;
  border-radius: 8px;
}

.contract-info {
  display: flex;
  justify-content: space-around;
}

.contract-info button {
  background: none;
  border: none;
}


.contract-info button p {
  font-size: 18px;
  text-decoration: underline;
}

.contract-info button p:hover {
  color: blue;
}

.contract-info > div {
  display: flex;
}

@media only screen and (max-width: 600px) {
  .contract-info {
    
  }
}

@media only screen and (min-width: 600px) {
  .contract-info-left-div {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    width: 55%;
  }

  .contract-info-right-div {
    width: 20%;
  }

  .contract-info button {
    width: 20%;
  }
}