.container{
    font-family: 'Open Sans', sans-serif;
}
.borda{
    border: 1px solid black;
}

.cabecalho{
    color: #2699FB;
    display: flex;
    text-align: left;
    
    margin: 0px 20%;
}
.cabecalho img{
    width: 30px;
    margin: 10px 0%;
}
.cabecalho p{
    margin: 2% 1%;
}

.instrucao{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0px 20%;
}
.roteiro{
    display: flex;
}

.tela{
    text-align: center;
    height: 300px;
    width: 45%;
    border-radius: 10px;
    margin: 10px 0%;
    margin-left: 20%;
    border: 5px solid #2699FB;
}
.tela p{
    margin-top: 10%;
}


.gravar{
    color: white;
    font-size: 15px;
    width: 200px;
    background-color: #2699FB;
    display: flex;
    justify-content: right;
    text-align: center;
    border-radius: 10px;
    margin-top: 35%;
    margin-left: 20%;
}
.gravar p{
    font-weight: bold;
    margin: 7% 6%;
    
}
.gravar img{
    width: 30px;
    height: 25px;
    margin: 5% 5%;
}

.erro{
    color: #2699FB;
    font-weight: bold;
    font-size: 10px;
    width: 350px;
    height: 25px;
    margin-left: 0%;
    margin-top: 1%;
    margin-bottom: 70px;
    background-color: white;
}
.erro p{
    margin: 0px 0px;
}

.modalbk{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.5);
}

.modal{
    background-color: white;
    position: absolute;
    border: 2px solid rgb(85, 200, 235);
    border-radius: 20px;
    margin: 5% 19%;
    width: 61.4%;
    height: 60%;
}
.modal h1{
    margin: 2% 5%;
}

.relatar{
    border: 10px solid #2699FB;
    border-radius: 30px;
    margin: 5% 10%;
    height: 50%;
}
.relatar p{
    margin: 5% 5%;
}

.sendButton{
    background: linear-gradient( to right, rgb(2, 91, 206),rgb(63, 132, 243));
    color: white;
    border: 3px solid rgb(0, 100, 114);
    border-radius: 50px;
    font-size: 20px;
    text-align: center;
    width: 10%;
}

.cancelButton{
    color: #2699FB;
    font-size: 20px;
    border: 3px solid #2699FB;
    border-radius: 50px;
    width: 10%;
    margin-left: 38%;
    margin-right: 5%;
}

.relatar{
    width: 78%;
    height: 250px;
}