.header-bar {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
}

.red {
  border: 1px solid red;
}

.green {
  border: 1px solid green;
}

.blue {
  border: 1px solid blue;
}

.header-bar-logo {
  width: 150px;
}

.header-bar-logo a {
  font-size: 26px;
}

.header-bar a {
  color: black;
  text-decoration: none;
}

.header-bar a:visited {
  color: black;
}

.header-bar a:hover {
  color: black;
  text-decoration: none;
}

.header-bar a:active {
  color: black;
  text-decoration: none;
}

.header-info a {
  font-size: 16px;
}

.header-info button {
  background-color: white;
  font-size: 16px;
}

.devs-container {
  margin: 0px 20px;
}

.devs {
  display: flex;
  justify-content: center;
  margin: auto
}

.dev {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  margin: 0px 20px;
}