.toggle-button{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 20px;
    width: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding:0;
    box-sizing: border-box;
}
.toggle-button:focus{
    outline:none;
}
.toggle-button__line{
    width: 20px;
    height: 2px;
    background: white;

}
.toggle-button__line1{
    width: 10px;
    height: 2px;
    background: white;

}