.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #0a467a;
    height: 40px;
}
.toolbar_nav{
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}
.space1{
    flex:1;
}

.toolbar_logo a{
    color: white;
}
.space2{
    flex:1;
}
.toolbar_nav_items ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.toolbar_nav_items li{
    align-content: flex-start;
}
.toolbar_nav_items a{
    color: white;
    text-decoration: none;
}  
.toolbar_nav_items a:hover,
.toolbar_nav_items a:active{
    color: blue;
}